<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head th:fragment="head">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="News - Clean HTML5 and CSS3 responsive template">
<meta name="author" content="MyPassion">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>News - Responsive HTML5 and CSS3 template</title>

<link rel="shortcut icon" th:href="@{/img/sms-4.ico}" />

<!-- STYLES -->
<link rel="stylesheet" type="text/css" th:href="@{/css/superfish.css}" media="screen"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/fontello/fontello.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/flexslider.css}" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/ui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/960.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/devices/1000.css}" media="only screen and (min-width: 768px) and (max-width: 1000px)" />
<link rel="stylesheet" type="text/css" th:href="@{/css/devices/767.css}" media="only screen and (min-width: 480px) and (max-width: 767px)" />
<link rel="stylesheet" type="text/css" th:href="@{/css/devices/479.css}" media="only screen and (min-width: 200px) and (max-width: 479px)" />
<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]> <script type="text/javascript" src="js/customM.js"></script> <![endif]-->

<script>
        var a = Math.floor(Math.random() * 11);
    </script>

</head>

<body>

<!-- Body Wrapper -->
<div class="body-wrapper">
	<div class="controller">
    <div class="controller2">

        <!-- Header -->
        <header id="header" th:fragment="header" >
            <div class="container">
                <div class="column">
                    <div class="logo">
                       <a href="index"><img th:src="@{/img/lo.png}" alt="MyPassion" /></a>
                    </div>
                    
                    <div class="search">
                        <form action="#" method="post">
                            <input type="text" value="Search." onblur="if(this.value=='') this.value='Search.';" onfocus="if(this.value=='Search.') this.value='';" class="ft"/>
                            <input type="submit" value="" class="fs">
                        </form>
                    </div>
                    
                    <!-- Nav -->
                    <nav id="nav">
                        <ul class="sf-menu">
                            <li class="current"><a href="index">TRANG CHỦ.</a></li>
                            <li>
                            	<a href="#">REVIEW PHIM.</a>
                                <ul>
                                    <li><i class="icon-right-open"></i><a href="HOT">HOT</a></li>
                                    <li><i class="icon-right-open"></i><a href="NEW">NEW</a></li>
                                </ul>
                            </li>
                            <li> <a href="#">THỂ LOẠI</a>
                                <ul>
                                    <li><i class="icon-right-open"></i><a th:href="@{Anime}">Anime</a></li>
                                    <li><i class="icon-right-open"></i><a th:href="@{TrinhTham}">Trinh Thám</a></li>
                                    <li><i class="icon-right-open"></i><a th:href="@{VienTuong}">Viễn Tưởng</a></li>
                                </ul>
                                </li>
                            <li><a href="/admin/index">ADMIN</a></li>
                            
                            <li><a href="contact.html">LIÊN HỆ.</a></li>                        
                        </ul>
                        
                    </nav>
                    <!-- /Nav -->
                </div>
            </div>
        </header>
        <!-- /Header -->
        
        <!-- Slider -->
        <section id="slider">
            <div class="container">
                <div class="main-slider">
                	<div class="badg">
                    	<p><a href="#">Popular.</a></p>
                    </div>
                	<div class="flexslider">
                        <ul class="slides" th:each="film, iterStat: ${films}">
                            <li>
                               <a th:href="${film.id}"> <img th:src="@{img/{imgname}(imgname=${film.img})}" alt="MyPassion"  width="937" height="600"/>
                                <p class="flex-caption"  th:text="${film.title}"> </p>
                                                     </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                
                
            </div>    
        </section>
        <!-- / Slider -->
        
        <!-- Content -->
        <section id="content">
            <div class="container">
            	<!-- Main Content -->
                <div class="main-content">
                    
                    <!-- World News -->
                    <div class="column-two-third">
                    	<h5 class="line">
                        	<span>Film HOT</span>
                            <div class="navbar">
                                <a id="next2" class="next" href="#"><span></span></a>	
                                <a id="prev2" class="prev" href="#"><span></span></a>
                            </div>
                        </h5>
                        
                        <div class="outerwide" >
                       
                        	<ul class="wnews" id="carousel2" > 
                        	<th:block th:each="filmhot, state : ${filmsHOT}">
                            	<th:block th:if="${state.count}<=3">
                                <li >
                                <a th:href="${filmhot.id}">
                                	<img th:src="@{img/{imgname}(imgname=${filmhot.img})}"  alt="MyPassion" class="alignleft" width="300" height="180" />
                                    <h6 class="regular"><a href="#" th:text="${filmhot.title}"></a></h6>
                     
        			<span class="meta">26 May, 2013.   \\   <a href="#">World News.</a>   \\   <a href="#">No Coments.</a></span>
                                    <p th:text="${filmhot.short_content}"></p>
                                     </a>
                                </li>
                               
                                </th:block>
                                 </th:block>
                            </ul>
                           
                        </div>
                        
                        <div class="outerwide">
                        	<ul class="block2">
                        	<th:block th:each="filmhot, state : ${filmsHOT}">
                            	<th:block th:if="${state.count}>3">
                               
                                <li class="m-r-no">
                                    <a th:href="${filmhot.id}"><img th:src="@{img/{imgname}(imgname=${filmhot.img})} "width="75" height="75" alt="MyPassion" class="alignleft" /></a>
                                    <p>
                                        <span>26 May, 2013.</span>
                                        <a href="#" th:text="${filmhot.title}"></a>
                                    </p>
                                    <span class="rating"><span style="width:100%;"></span></span>
                                </li>
                                </th:block>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                    <!-- /World News -->
                    
                    <!-- Popular News -->
                	
                    <!-- /Popular News -->
                    
                </div>
                <!-- /Main Content -->
                
                <!-- Left Sidebar -->
                <div class="column-one-third">
                	<div class="sidebar">
                    
                    
                	
                    <div class="sidebar">
                    	<h5 class="line"><span>Facebook.</span></h5>
                        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;width=298&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23BCBCBC&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:298px; height:258px;" allowTransparency="true"></iframe>
                    </div>
                </div>
                <!-- /Left Sidebar -->
                
            </div>    
        <!-- / Content -->
        
        <!-- Footer -->
        <footer id="footer">
            <div class="container">
            	<div class="column-one-fourth">
                    <h5 class="line"><span>Tweets.</span></h5>
                    <div class="twitterfeed">
                        <div id="tweets"></div>
                    </div>
                </div>
                <div class="column-one-fourth">
                    <h5 class="line"><span>Navigation.</span></h5>
                    <ul class="footnav">
                    	<li><a href="#"><i class="icon-right-open"></i> World.</a></li>
                        <li><a href="#"><i class="icon-right-open"></i> Business.</a></li>
                        <li><a href="#"><i class="icon-right-open"></i> Politics.</a></li>
                        <li><a href="#"><i class="icon-right-open"></i> Sports.</a></li>
                        <li><a href="#"><i class="icon-right-open"></i> Health.</a></li>
                        <li><a href="#"><i class="icon-right-open"></i> Sciences.</a></li>
                        <li><a href="#"><i class="icon-right-open"></i> Spotlight.</a></li>
                    </ul>
                </div>
                <div class="column-one-fourth">
                    <h5 class="line"><span>Flickr Stream.</span></h5>
                    <div class="flickrfeed">
                        <ul id="basicuse" class="thumbs"><li class="hide"></li></ul>
                    </div>
                </div>
                <div class="column-one-fourth">
                    <h5 class="line"><span>About.</span></h5>
                    <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhon cus sem purus eu sapien. Lorem ipsum dolor sit amet adipcising elit. Elit norem simuls tortor lorem adipcising purus mosteu dsapien egestas.</p>
                </div>
                <p class="copyright">Copyright 2013. All Rights Reserved</p>
            </div>
        </footer>
        <!-- / Footer -->
    
    </div>
	</div>
</div>
<!-- / Body Wrapper -->


<!-- SCRIPTS -->
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
<script type="text/javascript" th:src="@{/js/1.8.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ui.js}"></script>
<script type="text/javascript" th:src="@{/js/carouFredSel.js}"></script>
<script type="text/javascript" th:src="@{/js/superfish.js}"></script>
<script type="text/javascript" th:src="@{/js/customM.js}"></script>
<script type="text/javascript" th:src="@{/js/flexslider-min.js}"></script>
<script type="text/javascript" th:src="@{/js/jtwt.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jflickrfeed.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mobilemenu.js}"></script>

<!--[if lt IE 9]> <script type="text/javascript" src="js/html5.js"></script> <![endif]-->
<script type="text/javascript" th:src="@{/js/mypassion.js}"></script>
</body>
</html>
