<div th:fragment="menu">
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/admin/index">
                        <i class="fa fa-dashboard"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>           
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý bài viết</span>
                    </a>
                    <ul class="sub">
						<li><a href="thembaiviet">Thêm bài viết</a></li>
						<li><a href="danhsach">Danh sách bài viết</a></li>
                    </ul>
                </li>
                    <li>
                    <a class="active" href="/index">
                        <i class="fa fa-dashboard"></i>
                        <span>Quay ve Website</span>
                    </a>
                </li>
                
                           </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
</div>